.magic-box {
    /* ...existing button styles... */
    opacity: 1;
    transition: opacity 0.5s ease;
    position: fixed;
    z-index: 9999; /*Adjust the z-index as needed to ensure the button appears on top */
    background-color: white; /* Customize the button background color */
    border: 1px #ddd solid;
    border-radius: 12px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.magic-box.hidden {
    opacity: 0;
}

.magic-button {
    /* ...existing button styles... */
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 9999; /*Adjust the z-index as needed to ensure the button appears on top */
    background-color: white; /* Customize the button background color */
    border: 1px #ddd solid;
    border-radius: 12px;
    padding: 6px 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.grid-item {
    border-right: 1px solid #ddd;
    padding: 10px;
}

h2 {
    font-size: 18px;
}